
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;


}

a {
  color: #CC94CC;
  text-decoration: none;
}

a:hover {
  color: #65c9cd;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #CC94CC;
  border-top-color: #ecf8f9;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #CC94CC;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #5ec6ca;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
  .form-control,
  .form-select {
    height: 38px; /* You can adjust this value to match the desired height */
  }
  .left-row{
  height:600px;
  }
/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 992px) {
  #header {
    padding: 15px 0;
  }
}

#header.header-scrolled {
  top: 0;
}
.logoutmenu{
display:none !important;
}
@media screen and (max-width: 1000px) {
    .logoutmenu{
    display:block !important;
    }
    .logout{
        display:none !important;
    }
}
#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#header .logo a {
  color: #555555;
}

#header .logo img {
  max-height: 40px;
}

/**
* Appointment Button
*/
.appointment-btn {
  margin-left: 25px;
  background: #CC94CC;
  color: #fff;
  border-radius: 4px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}

.appointment-btn:hover {
  background: #65c9cd;
  color: #fff;
}
@media (max-width: 1200px) {
   .chartcard{
   height:450px !important;
   }
      .chartcard li {
   font-size:14px;
   }
    canvas{
    margin-top: 70px !important;
    }
}
@media (max-width: 790px) {
  .appointment-btn {
  display:none;
    margin: 0 15px 0 0;
    padding: 6px 15px;
  }
   .chartcard{
   height:600px !important;
   }
}

@media (max-width: 500px) {
   .chartcard{
   height:540px !important;
   }
   .assist{
    height: 640px !important;
   }
   .chatbtn{
    margin-top: 20px !important;
   }
  .result-container.text-center {
    text-align: center;
  }
   .chartcard2{
   height:360px !important;
   }
  .result-container .row.justify-content-center,
  .result-container .col-md-8 {
    text-align: center !important;
  }

  .result-container .col-md-4 {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 420px) {
   .chartcard{
   height:440px !important;
   }

   }
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #626262;
  white-space: nowrap;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #CC94CC;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #CC94CC;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #555555;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(60, 60, 60, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #555555;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #CC94CC;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #CC94CC;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: calc(100vh - 70px);
  background: url("../img/slide-2.jpeg") center center;
  background-size: cover;
  position: relative;
  margin-top: 70px;
  padding: 0;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  z-index: 2;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #454545;
}

#hero h2 {
  color: #454545;
  margin-bottom: 35px;
  margin-top: 15px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 4px;
  transition: 0.5s;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  border-color: #A2AFF6;
  background: #A2AFF6;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  #hero {
    margin-top: 60px;
    height: calc(100vh - 60px);
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f7fcfc;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #CC94CC;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #ecf8f9;
  min-height: 40px;
  margin-top: 120px;
}

@media (min-width: 1200px) {
    .cardm{
    margin-left:180px !important;
    }
        .cardm2{
    margin:0px !important;
    }
}
@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 70px;
  }
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Featured Services
--------------------------------------------------------------*/
.featured-services .icon-box {
  padding: 30px;
  width: 400px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.featured-services .icon-box::before {
  content: "";
  position: absolute;
  background: #d9f1f2;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.featured-services .icon-box:hover::before {
  background: #CC94CC;
  top: 0;
  border-radius: 0px;
}

.featured-services .icon {
  margin-bottom: 15px;
}

.featured-services .icon i {
  font-size: 48px;
  line-height: 1;
  color: #CC94CC;
  transition: all 0.3s ease-in-out;
}

.featured-services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.featured-services .title a {
  color: #111;
}

.featured-services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.featured-services .icon-box:hover .title a,
.featured-services .icon-box:hover .description,
 .featured-services .icon-box:hover .test-now{
  color: #fff;
}

.featured-services .icon-box:hover .icon i {
  color: #fff;
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: #CC94CC;
  color: #fff;
  background-size: cover;
  padding: 60px 0;
}

.cta h3 {
  font-size: 28px;
  font-weight: 700;
}

.cta .cta-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.cta .cta-btn:hover {
  background: #fff;
  color: #CC94CC;
}


.cta-btn2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.cta-btn2:hover {
  background: #fff;
  color: #CC94CC;
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.aboutimg{
border-radius:25px;
}

.aboutimg2{
width:90%;
border-radius:25px;
}
.mycol{
  padding: 50px 50px 50px 50px;
}
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #CC94CC;
}

.about .content p:last-child {
  margin-bottom: 0;
}
.about-img{
  border-radius: 10px;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding-bottom: 30px;
}

.counts .count-box {
  box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
}

.counts .count-box i {
  display: block;
  font-size: 30px;
  color: #CC94CC;
  float: left;
}

.counts .count-box span {
  font-size: 42px;
  line-height: 24px;
  display: block;
  font-weight: 700;
  color: #555555;
  margin-left: 50px;
}

.counts .count-box p {
  padding: 30px 0 0 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.counts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #7b7b7b;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.counts .count-box a:hover {
  color: #CC94CC;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

.features .icon-box i {
  font-size: 48px;
  float: left;
  color: #CC94CC;
}

.features .icon-box p {
  font-size: 15px;
  color: #848484;
  margin-left: 60px;
}

.features .image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  margin-bottom: 20px;
  text-align: center;
}

.services .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s;
  color: #CC94CC;
  overflow: hidden;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
}

.services .icon i {
  font-size: 36px;
  line-height: 0;
}

.services .icon-box:hover .icon {
  box-shadow: 0px 0 25px rgba(63, 187, 192, 0.3);
}

.services .title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
  padding-bottom: 15px;
}

.services .title a {
  color: #444444;
  transition: 0.3s;
}

.services .title a:hover {
  color: #CC94CC;
}

.services .title::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #CC94CC;
  bottom: 0;
  left: calc(50% - 25px);
}

.services .description {
  line-height: 24px;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Appointments
--------------------------------------------------------------*/
.appointment .php-email-form {
  width: 100%;
}

.appointment .php-email-form .form-group {
  padding-bottom: 8px;
}

.appointment .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.appointment .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.appointment .php-email-form .error-message br+br {
  margin-top: 25px;
}

.appointment .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.appointment .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.appointment .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.appointment .php-email-form input,
.appointment .php-email-form textarea,
.appointment .php-email-form select {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  padding: 10px !important;
}

.appointment .php-email-form input:focus,
.appointment .php-email-form textarea:focus,
.appointment .php-email-form select:focus {
  border-color: #CC94CC;
}

.appointment .php-email-form input,
.appointment .php-email-form select {
  height: 44px;
}

.appointment .php-email-form textarea {
  padding: 10px 12px;
}

.appointment .php-email-form button[type=submit] {
  background: #CC94CC;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.appointment .php-email-form button[type=submit]:hover {
  background: #52c2c6;
}

/*--------------------------------------------------------------
# Departments
--------------------------------------------------------------*/
.departments .nav-tabs {
  border: 0;
}

.departments .nav-link {
  border: 0;
  padding: 20px;
  color: #555555;
  border-radius: 0;
  border-left: 5px solid #fff;
  cursor: pointer;
}

.departments .nav-link h4 {
  font-size: 18px;
  margin-top:10px;
  font-weight: 600;
  transition: 0.3s;
}

.departments .nav-link p {
  font-size: 14px;
  margin-bottom: 0;
}

.departments .nav-link:hover h4 {

  color: #CC94CC;
}

.departments .nav-link.active {
  background: #EDF6FD;
  border-color: #CC94CC;
}

.departments .nav-link.active h4 {
  color: #CC94CC;
}

.departments .tab-pane.active {
  animation: slide-down 0.5s ease-out;
}

.departments .tab-pane img {
/*  float: left;*/
/*  max-width: 300px;
  padding: 0 15px 15px 0;*/
}

@media (max-width: 768px) {
  .departments .tab-pane img {
    float: none;
    padding: 0 0 15px 0;
    max-width: 100%;
  }
}

.departments .tab-pane h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #CC94CC;
}

.departments .tab-pane p {
  color: #777777;
}

.departments .tab-pane p:last-child {
  margin-bottom: 0;
}

@keyframes slide-down {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 20px rgba(214, 215, 216, 0.5);
  padding: 20px 0 30px 0;
}

.contact .info-box i {
  font-size: 32px;
  color: #CC94CC;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #c5ebec;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 20px rgba(214, 215, 216, 0.5);
  padding: 30px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #CC94CC;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #CC94CC;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #65c9cd;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #eeeeee;
  padding: 0 0 30px 0;
  color: #555555;
  font-size: 14px;
    width: 100%;

  bottom: 0;
}
.mt-7{
  margin-top: 120px;
}
.graph{
  padding: 30px 30px 30px 30px;
  transition:transform 0.3s ease-in-out;
/*  border: 1px solid darkgray;*/
}
.graph:hover{
  transform: translateY(-18px);
}
}
#footer .footer-top {
  background: #f6f6f6;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #CC94CC;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #65c9cd;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #CC94CC;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #555555;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #CC94CC;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
}

#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #CC94CC;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}


#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #65c9cd;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
}

.questions {
      font-weight: bold;
      font-size: 20px;
      margin-bottom:15px;
    }

.form-group{
  margin-top: 33px;
}
.form-check{
  margin-top: 15px;
}
.submit-btn{
  background-color: #CC94CC;
  padding: 8px 30px 8px 30px;
}
.submit-btn:hover{
  background-color: #F74BFA;
}

.replyButton{
  background-color: #CC94CC;
  border: 1px solid #CC94CC;
  padding: 8px 30px 8px 30px;
}
.replyButton:hover{
border: 1px solid #F6DFF6;
  background-color: #F6DFF6;
}
.resultimg1{
  width:50%;
  margin-top: -80px;
    animation: moveUpDown 1s ease-in-out infinite alternate;

}

.resultimg2{
  width:47%;
  margin-top: -30px;
    animation: moveUpDown 1s ease-in-out infinite alternate;

}
.resultimg3{
  width:77%;
  margin-top: -150px;
    animation: moveUpDown 1s ease-in-out infinite alternate;

}
.image-container {
  position: relative;
  top: 150px;
  right:150px;
}
.resultimg4{
  width:86%;
    animation: moveUpDown 1s ease-in-out infinite alternate;

}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px); /* Adjust the distance to move up */
  }
}
.high{
  color:#E84E33;
}

.title{
    color:#CC94CC;
}

.login-box{
    border: 1px solid darkgray;
    border-radius: 15px;
    max-width: 500px;
    padding: 50px 50px 0px 50px;
}

@media screen and (max-width: 768px) {
.login-box{
    max-width: 400px;

}
.submit_btn{
    padding: 10px 129px 10px 129px !important;
}
}

.form-control{
    padding: 10px 10px 10px 10px
}

.submit{
    padding: 45px 0px 0px 0px;
    text-align:center;
}

.submit_btn{
    border-radius: 15px;
    border: 1px solid #CC94CC;
    transition-duration: 0.5s;
    background-color:#CC94CC;
    color:white;
    padding: 10px 169px 10px 169px;
}

.submit_btn:hover {
  background-color:#ECC8EF;
  border: 1px solid #ECC8EF;
  color: white;
}
.aboutp{
text-align:justify;
}

.close{
    border:none;
    background:white;
}
.close i{

    font-size:22px;
}
.close i:hover{
    color:darkgray;
}
.btn-warning {
    background-color:white !important;
    border: none !important;
    margin-top: 10px;
    margin-bottom: -30px;
    color: #CC94CC !important;
}
.btn-warning:hover {
    color: skyblue !important;
}

.forgot{
    color:#CC94CC;
    padding: 45px 0px 0px 0px;
}
.test-now:hover{
color:white;
}
.assist{
    border: 2px solid rgba(239, 204, 243,0.8);
    border-radius: 8px;
    padding: 20px 10px 20px 10px;
    height:505px;
}
.assistimg1{
width:42%;
}
.assistimg2{
width:23%;
}
.assistimg4{
width:27%;
}
.assistimg3{
width:36%;
}
.assistitem{
    border: 1.5px solid rgba(239, 204, 243,0.4);

}

.result-btn{
  border-radius: 10px;
  background-color: #CC94CC;
  padding: 8px 30px 8px 30px;
  color:white;
    transition: transform 0.3s ease-in-out !important;
    display: inline-block;

}
.result-container{

}
.result-btn:hover {
  color:white;

  transform: scale(1.05) !important;
}
.big-result{
font-size: 40px;
}
.big-result2{
font-size: 17px;
}
.moderate{
color:#F5AD26;
}

.good{
color:#84D939;
}
.email-box {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.email-box h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.email-box form {
  margin-top: 15px;
}

    /* Add this CSS to your existing stylesheet */
.survey-container {
    position: relative;
}

.background-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px; /* Adjust height as needed */
    background-image: url('../img/alhocol_survey.jpeg');
    background-size: cover;
    background-position: center;
}


.background-image2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px; /* Adjust height as needed */
    background-image: url('../img/despress_srvey.jpeg');
    background-size: cover;
    background-position: center;
}



@media (max-width: 995px) {
.second{
margin-top:45px;
}
}

.chatheader{
background:#CC94CC;
color:white;
}
.myheight{
padding: 8px 0px 2px 15px;
}
.myheader{
background:#CC94CC;
color:white;
}

.chartcard{
background-color:#FAF3FA;
border: 1px solid #FAF3FA;
height:440px;
}
.mycontrol{
height: 140px;
}
.bottom-right-image {
  position: fixed;
  bottom: 100px;
  right: 80px;
  z-index: 9999;
}



@media (min-width: 1500px) {
.bottom-right-imageg img {
  width: 250px;
  height: auto;
}
.bottom-right-image img {
  width: 350px;
  height: auto;
}
}

@media (max-width: 1390px) {
.bottom-right-imageg img {
  width: 200px !important;
  height: auto;
}
.bottom-right-image img {
  width: 190px !important;
  height: auto;
}
}


@media (min-width: 1000px) {

.bottom-right-image img {
  width: 250px;
  height: auto;
}
.bottom-right-imaged img {
  width: 430px;
  height: auto;
}
.bottom-right-imageg img {
  width: 190px;
  height: auto;
}

}
.bottom-right-imaged {
  position: fixed;
  bottom: 100px;
  right: 50px;
  z-index: 9999;
}


.bottom-right-imaged img {
  width: 270px;
  height: auto;
}


.bottom-right-images {
  position: fixed;
  bottom: 100px;
  right: 50px;
  z-index: 9999;
}

.bottom-right-images img {
  width: 210px;
  height: auto;
}

.bottom-right-imageg {
  position: fixed;
  bottom: 100px;
  right: 140px;
  z-index: 9999;
}

.bottom-right-imageg img {
  width: 190px;
  height: auto;
}

.bottom-right-imageg2 {
  position: fixed;
  bottom: 100px;
  right: 50px;
  z-index: 9999;
}

.bottom-right-imageg2 img {
  width: 200px;
  height: auto;
}
.replyimg{
width:18%;
}
  .custom-radio .form-check-label {
  pointer: cursor;
  background-color:#F6DFF6;
    padding: 0.5rem 1rem;
    border: 1px solid #F6DFF6;
    border-radius: 0.25rem;
    margin-right: 5px;
    transition: 0.4s ease;
  }
    .custom-radio:hover .form-check-label{
        background-color: #CC94CC;
        border: 1px solid #CC94CC;
  }

  /* Hide default radio input */
  .custom-radio input[type="radio"] {
    display: none;
  }

  /* Style for checked radio label */
  .custom-radio input[type="radio"]:checked + .form-check-label {
    background-color: #007bff; /* Button background color when checked */
    color: #fff; /* Text color when checked */
  }

  @media (max-width: 1200px) {
  .sympmt-3{
margin-top: 20px;
}
  .bottom-right-imaged{
    display:none;
  }
    .bottom-right-images{
    display:none;
  }
    .bottom-right-imageg{
    display:none;
  }
    .bottom-right-image{
    display:none;
  }


  }